@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("fontello.css");

/* 스타일 초기화 */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* 숨김 콘텐츠 */
.readable-hidden{
  background: teal;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin:-1px;
}
/* 클래스 모듈 */
/* float 이슈를 해결하기 위한 clear 기능*/
.clearfix::after{
  content:'';
  display: block;
  clear: both;
}
/* 기본 스타일 */
body {
  color:#181818;
  font-size:1.4rem;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  font-weight: 400;
  line-height: 1.15;
  background: #fff;
}
/* 컨테이너 */
.container{
  background:  linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%) repeat ;
}
.header, .visual, .main, .slogan, .footer{
  width:940px;
  margin:0 auto;
}
.bg-footer{
  background:  linear-gradient(to bottom, #ccc, #eee 45%, #fff 70%, #fff 100%) repeat ;
}
/* 헤더 */
.header{
  position: relative;
  padding:0 30px 45px;
  border-radius:0 0 15px 15px;
  background: #fff;
}
/* 로고 */
.logo{
  position: absolute;
  top: 50px;
  left: 65px;
}
/* 안내링크 */
.member{
  text-align: right;
  font-size: 0;
  padding:2px 0;
  margin-right:-10px;
}
.member li, .member a {
  display: inline-block;
}
.member li {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.bar::before {
  content:":";
  margin:0 1px;
}
.member a {
  padding: 5px 10px;
}
/* 메인 메뉴 */
.menu {
  background:#ed552f linear-gradient(to bottom, #e8852e 0%,#ed552f 35%,#ed552f 70%,#e8852e 100%);
  margin-top:10px;
  padding-left: 225px;
  border-top:2px solid #000;
  border-radius:0 0 5px 5px;
}
.menu > li {
  float:left;
  position: relative;
}
.menu-item-text{
  display: block;
  font-size: 1.7rem;
  font-weight: 700;
  color: #fff;
  padding: 1em 18px;
  border-left: 1px solid #fff;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .menu-item-text {
  color: #ff0;
  position: relative;  
}
.menu-act .menu-item-text::after {
  content:'';
  position: absolute;
  bottom: -2px;
  display: block;
  border-top: 2px solid #000;
  width: calc(100% - 36px);
}
.sub-menu{
  position: absolute;
  white-space: nowrap;
  top:55px;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu1, .sub-menu2, .sub-menu3 {
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6 {
  right: 0;
}
.sub-menu li, .sub-menu a{
 display: inline-block; 
}
.sub-menu a {
  padding: 10px 0;
  margin-right: 10px;
}
/* 비주얼 */
.visual {
  height: 120px;
}

@keyframes textAni{
  0%{
    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}

.visual-text{
  font-family:Georgia, 'Times New Roman', Times, serif;
  animation-name: textAni;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  width:545px;
}

/* 메인콘텐츠 */
.main {
  background:lime;
  min-height: 450px;
  display:flex;
  justify-content: space-evenly;
}
.group1{
  width: 250px;
  background: pink;
}
.group2{
  width: 380px;
  background: pink;
}
.group3{
  width: 190px;
  background: pink;
}